/* Whole page content style. This is specific to all the content in the webpage */
body {
    text-align: center;
    

}

/* Styles the containers in the header element*/
header {
    display: flex;

}
/*//PART 1 - IT HAS 2 SECTIONS//*/
/*SECTION 1*/
/* Styles the first level of the HTML document. This targets page's logo area, and the Webpage's heading area */
.first-container {
    background-color: #1f2937;
    flex-direction: column;
    gap: 55px;
    color: #f9faf9;
    flex-wrap: wrap;

}

/* Styles the webpage's logo (Logo area) */
.container-left {
    display: flex;
    flex: 1;
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0px 15px 0px;

}

/* Styles the top links on the header */
.container-right {
    display: flex;
    margin: 10px 0px 15px 0px;
    align-items: center;
    flex: 1;
    gap: 18px;
    justify-content: flex-end;
    font-size: 18px;
}

/*SECTION 2*/
/* This has the header part of the page. Houses the webpage's title and picture/image container*/
.title {
    display: flex;
    gap: 100px;
    flex-wrap:wrap;
}

/* Styles the website title container */
.container-two-left {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}

/* Style the Image container*/
.container-two-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

/* Specifically targetst the h2 in the 2nd half of the first-container*/
.container-two-left h2 {
    margin-top: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

/*//PART 2//*/
/*........*/
.second-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*....*/
.second-container h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/*......*/
.wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info-on-items {
    padding: 30px;
    margin-top: -25px;
}




/*//PART 3//*/
/* Style the Third section of the HTML. This part contains the quote text (CONTAINER) and the author of the quote (CONTAINER)*/
.third-container {
    background-color: #e5e7eb;
    flex-direction: column;
   

}

/* Style on the quote container*/
.the-quote {
    color: #1f2937;
    font-size: 36px;
    font-style:italic;
    text-align: justify;
    padding: 50px;
    font-weight: lighter;
}

/* Style on the "AUTHOR-OF-THE-QUOTE" container */
.quote-by {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 35px;
}






/*//PART 4//*/
/*......*/
.fourth-container {
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color:#f9faf9;
    border-radius: 10px;
    margin: 85px 50px;
    justify-content: space-around;
    text-align: start;
    
}
.container-four-left, .container-four-right {
    margin-top: 40px;
}

.container-four-left .paraone, .paratwo {
    font-weight: bold;
    text-align: start;
    margin-bottom: -15px;
    font-size: 24px;
}
.container-four-left .paratwo {
    font-weight: lighter;
    font-size: 18px;
}


/* Styles the buttons*/
.sign-up {
    background-color: #3882f6;
    color: whitesmoke;
    border-radius: 5px;
    padding: 4px 20px 4px 20px;
    border: none;
    font-weight: 400;
    margin-top: 10px;
    font-size: 18px;
}
button:hover {
    border-radius: 12px;
    font-weight: 600;
}

.with-border {
    border: 2px double whitesmoke;
    padding: 2px 35px;

}

/* Removes the default underline on links*/
a {
    text-decoration: none;
    color: snow;
}

/* Intensifies the effect of the link on hovering on/above. Brings clarity to the user */
a:hover {
    font-weight: 300;
    color:blueviolet;
    font-size: 22px;
}

/* Integrates the backgrounds of the various sections of the HTML file */
.first-container, .second-container, .third-container, .fourth-container {
    display: flex;
    padding: 0px 180px 80px 180px;


}

/* Revove spacing between two divs*/
.no-spacing {
    margin-bottom: 20px;
}


img {
    width: auto;
    height: 80px;
}

.container-two-right img {
    width: auto;
    height: 250px;

}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 18px;
    font-size: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
}